
.expenses-form{
width:100%;
padding:30px;
margin:50px auto;
background-color: rebeccapurple;
display: flex;
justify-content: center;
align-items: center;
}

.form-fields{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}